@page "/addtournament"
@inject Services.ITournamentService tournamentService
@inject NavigationManager navigationManager
@inherits BaseFishingTournamentView<Library.Models.DataModels.Tournament>

<PageTitle>Create Tournament</PageTitle>

@if (Loading)
{
    <div class="spinner"></div>
}

<h1>Create Tournament</h1>
<form method="post" class="needs-validation" @onsubmit="async () => await OnSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input @bind="SelectedTournament!.Name" type="text" class="form-control @InputValidationClasses!["Name"]" id="name" aria-describedby="name">
        <div class="invalid-feedback">
            Please choose a tournament name.
        </div>
    </div>
    <div class="mb-3">
        <label for="lake" class="form-label">Lake</label>
        <input @bind="SelectedTournament!.Lake" class="form-control @InputValidationClasses!["Lake"]" id="lake">
        <div class="invalid-feedback">
            Please choose a tournament lake.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="date">Date</label>
        <input @bind="SelectedTournament!.Date" type="date" class="form-control @InputValidationClasses!["Date"]" id="date">
        <div class="invalid-feedback">
            Please choose a tournament date.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

