@page "/adduser"
@inject Services.IUserService userService
@inject NavigationManager navigationManager
@inherits BaseFishingTournamentView<Library.Models.DataModels.User>

<PageTitle>Add User</PageTitle>


<h1>Add New User</h1>

@if (Loading)
{
    <div class="spinner"></div>
}

<form method="post" @onsubmit="OnSubmit">
    <div class="mb-3">
        <label for="name" class="form-label">First Name</label>
        <input @bind="SelectedUser!.FirstName" type="text" class="form-control @InputValidationClasses!["FirstName"]" id="firstName" aria-describedby="firstName">
        <div class="invalid-feedback">
            Please choose a first name.
        </div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Last Name</label>
        <input @bind="SelectedUser!.LastName" type="text" class="form-control @InputValidationClasses!["LastName"]" id="lastName" aria-describedby="lastName">
        <div class="invalid-feedback">
            Please choose a last name.
        </div>
    </div>
    <div class="mb-3">
        <label for="grade" class="form-label">Grade</label>
        <input @bind="SelectedUser!.Grade" class="form-control @InputValidationClasses!["Grade"]" id="grade">
        <div class="invalid-feedback">
            Please choose a class grade.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="birthday">Birthday</label>
        <input @bind="SelectedUser!.Birthday" type="date" class="form-control @InputValidationClasses!["Birthday"]" id="birthday">
        <div class="invalid-feedback">
            Please choose a birth date.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

