@page "/user/automated"
@inject Services.IUserService userService;
@inject NavigationManager navigationManager;

<PageTitle>Automated User Upload</PageTitle>
<div class="row container">
    <div class="col-sm-4">
        <h3>Attach User Registrations</h3>

        <img src="images/example.png" class="img-fluid mb-1" style="width: 100%;" alt="example-upload">

        <div class="mb-3">
            <InputFile OnChange="LoadFiles" class="form-control"></InputFile>
        </div>
        <button class="btn btn-primary float-end" disabled="@UploadFileIsDisabled" @onclick="UploadFile">Upload</button>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>