@page "/users"
@inject Services.IUserService userService;
@inject NavigationManager navigationManager;

<PageTitle>View Users</PageTitle>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <a href="/user/automated"><button class="btn btn-warning">Automated Upload</button></a>
    </div>
    <div class="col-auto">
        <a href="/adduser"><button class="btn btn-success">Add User</button></a>
    </div>
    <div class="col-auto">
        <input type="text" class="form-control" placeholder="Search User By Name"/>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary btn">Search</button>
    </div>
</div>
<hr />

@if (SelectedUsers is not null && SelectedUsers.Any())
{
    <table class="table table-hover table-striped" role="button">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
                <th scope="col">Birthday</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in SelectedUsers)
            {
                <tr @onclick="() => GoToUserPage(user.Id!)">
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Grade</td>
                    <td>@user.Birthday!.Value.ToString("d")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <p>No Users Found...</p>
    </div>
}