@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <CascadingValue Value="LoggedInAdministrator">
            <NavMenu />
        </CascadingValue>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="container-fluid">
                <h1>Michigan Fishing Tournament Tracker</h1>
            </div>
        </div>

        <article class="content px-4">
            <CascadingValue Value="LoggedInAdministrator">
                <CascadingValue Value="SetLoggedInAdministrator">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private Library.Models.DataModels.Admin? LoggedInAdministrator { get; set; }

    public void SetLoggedInAdministrator(Library.Models.DataModels.Admin admin)
    {
        LoggedInAdministrator = admin;
    }
}
